@using HospitalAssessment.Shared.Patients;
<EditForm Model="Patient" OnValidSubmit="SavePatientCallback" class="col-6">
    <div class="form-group mb-2">
        <label>First name *</label>
        <InputText class="form-control" @bind-Value="@Patient.FirstName" required />
    </div>
    <div class="form-group mb-2">
        <label>Last name *</label>
        <InputText class="form-control" @bind-Value="@Patient.LastName" required />
    </div>
    <div class="form-group mb-2">
        <label>State *</label>
        <InputText class="form-control" @bind-Value="@Patient.State" required />
    </div>
    <div class="form-group mb-3">
        <label>City *</label>
        <InputText class="form-control" @bind-Value="@Patient.City" required />
    </div>
    
    <div class="btn-group d-flex">
        <button class="btn btn-success" type="submit">Submit</button>
        <a href="patients" class="btn btn-secondary">Cancel</a>
    </div>
</EditForm>

@code {
    [Parameter]
    public PatientCommand Patient { get; set; } = new PatientCommand();

    [Parameter]
    public EventCallback SavePatientCallback { get; set; }
}
